@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


p, input, textarea {
  font-family: "Encode Sans", sans-serif;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}


 h1,h2,h3,h4,h5,h6,span {
  font-family: "Inter", sans-serif;
}

a {
  font-family: "Encode Sams", sans-serif;
  font-size: 1rem !important;
}

.bg-custom-size {
  background-size: 1500px 843.75px; /* Adjust this size as needed */
}

@layer base {
  a {
    color: white;
  }
  body {
    background-color: rgb(7, 12, 7);
  }
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


/* ~~~~ Custom CSS - I know it's bad T_T ~~~~ */

/* Stop page  side scrolling on mobile */
html,
body {
  overflow-x: hidden;
}

/* Mobile Nav */
.pb-3 {padding-bottom: 0.75rem; display: flex; flex-direction: column; align-items: center;}

/* Footer background colour */
.footer.max-w-7xl.mx-auto.p-20.mt-10.rounded-xl {background: linear-gradient(90deg, #796a99, #554970);}

/* mobile dropdown background */
.md\:hidden {background-color: rgb(7, 12, 7); border-radius: 0px 0px 10px 10px;}

/* blog read more arrows */
.w-3\.5 {padding-left: 5px;}

/* 404 page */ 
.\34 04-p {display: flex; flex-direction: column; align-items: center; padding: 40px 0px;}
